@charset "UTF-8";


// primary
$primary01: #D8272D;
$primary02: #BE1F24;
$primary03: #CF494D;
$primary04: #D06C70;
$primary05: #EEAFB1;
$primary06: #FCE2E2;

//secondary
$secondary01: #4C5365;
$secondary02: #2D323C;
$secondary03: #6F7994;
$secondary04: #8B96B4;
$secondary05: #BDC5DA;
$secondary06: #D9DFF0;

//Tertiary
$tertiary01: #144E8C;
$tertiary02: #184F79;
$tertiary03: #3F76B1;
$tertiary04: #3f435e;
$tertiary05: #AACAE3;
$tertiary06: #F5F7F9;

//Warning 
$warning01:#F6A609;
$warning02:#E99808;
$warning03:#FEBC1F;

//Error
$error01:#fc4e4f;
$error02:#ea3c3d;
$error03:#ff6263;

//Success
$success01:#2AC86B;
$success02:#1AB85B;
$success03:#40DE81;

// black & white
$white: #fff;
$black: #000;

$c_black01: #131423;
$c_black02: #27303e;
$c_black03: #3f4753;
$c_black04: #6f757e;
$c_black05: #9fa3a9;
$c_black06: #cfd1d4;
$c_black07: #e7e8e9;
$c_black08: #f3f3f4;

$w_black01: #222222;
$w_black02: #333333;
$w_black03: #555555;
$w_black04: #666666;
$w_black05: #888888;
$w_black06: #CCCCCC;
$w_black07: #DDDDDD;
$w_black08: #EEEEEE;

$background : #fff;
$lnbColor: #4C5365;
$tableColor : #3d4159;